
.*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar{
	background-color:  #92CEA8;
}

.btn1{
	
	background-color: #92CEA8;

}

.card-img-top {
    width: 100%;
    height: 5vw;
    object-fit: cover;
}

div > ul> li> button {
	color: whitesmoke;
	background-color: #8BD2EC;
	border: 1;
	border-radius: 10px;
	color: black;
}

body{
	background-color: #F6C6C7;
	/*#F6C6C7*/
}

div > div > div > img{
	 -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.card{
	background-color: #F6C6C7;
	border: 0;
}

.btn {
  font-size:10px;
}

#pre-footer > div {
	display: inline-block;
	width: 20%;
	vertical-align: middle;
}

#pre-footer > div > * {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	text-align: center;

}

#pre-footer {
	background-color: #92CEA8;
	text-align: center;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;

}


footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer{

	background-color: #F6C6C7;
	text-align: center;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	padding: 1%;
}
.bdy2{
	background-color: #E6D7F0;
}
/*#landing-page {
    height:50vh;
    background-image: url(https://images.pexels.com/photos/73873/star-clusters-rosette-nebula-star-galaxies-73873.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260); 
    /* it stretches our bg image to cver the area of the element*/
    background-size: cover;
    /*it prevents your bg image to repeat*/
    background-repeat: no-repeat;
    /* positions or moves your bg image to the center of the element*/
    background-position: center; 
    /*display:flex;
    flex-direction:column;
    align-items:center;
    background-color: #6DCCDE;
    color: #fff;*/
/*}*/
